[2015-01-12 13:32] sakserv opened #1 "Windows Support Issues"
Several tests fail when the project is tested on Windows.

*  HDFS
*  Hive MetaStore

[2015-01-12 13:36] sakserv commented on #1
Log from test run on Windows

https://gist.github.com/sakserv/ea313dc15244acdbfa4c

[2015-08-24 21:41] mohnishkodnani opened #2 "oozie shared lib"
Hi,
I am trying to do the same where I create the LocalOozie instance to test my oozie workflows.
However, when I try to run a workflow against, it I am getting error in the java action, because it says "Could not find Oozie Share Lib".
How does your oozie server create the share lib folder.

thanks
mohnish

[2015-10-26 14:50] bml opened #3 "HBase dependencies out of synch"
I'm trying to use a `HBaseLocalCluster`, but I've noticed that the HBase dependencies in your POM are out of synch with the rest of the dependencies.

[code]

The HBase dependencies are at version `0.98.4.2.2.6.9-1-hadoop2`, which corresponds to HDP version 2.2.6, while the rest of the dependencies correspond to HDP version 2.3.0.

Also, since this is a fat JAR, I can't just override these depende

[2015-10-27 12:34] sakserv commented on #3
@bml - Thanks for reaching out.

There is a version conflict issue with hbase-testing-util and storm-core (the disruptor library) that forced me to downgrade the hbase version. I want to revisit this soon. I also want to create version profiles to allow for supporting more than just the latest and greatest HDP.

I completely agree on the value of ditching the fat jar. As more projects are added, t

[2015-10-27 13:54] bml commented on #3
@sakserv Thanks for the quick reply.

I wasn't using Storm so I didn't notice that conflict, but I can see why you had to downgrade the HBase version.

Initially I was just thinking that removing the shade plugin would suffice for solving the fat JAR issue (this is what I did locally to exclude dependencies I didn't need), but it seems that separate modules for each cluster may be needed too to so

[2015-10-27 15:43] sakserv commented on #3
Thanks, @bml - I'll work on a first draft this week and will check with you to see if meets your needs.

[2015-10-27 16:37] bml commented on #3
Thanks!

[2015-10-30 13:20] sakserv commented on #3
@bml - I have an early preview of the modules based project. It's not 100% complete, but the individual modules should be ready for testing. I've tried to limit the deps to only what is needed for each module. The HBase deps have also been moved to 2.3.0.0.

If you have some time to try this out and provide feedback, I'd greatly appreciate it!

Here is a link to the [multimodule branch](https://gi

[2015-10-30 19:47] bml commented on #3
@sakserv This is perfect - thanks for all the work!

I haven't tried all of them, but ones I tried look great (HBase, Kafka, ZK). The modules are much more palatable now (~10KB each instead of one 100MB+ JAR).

[2015-10-30 21:18] sakserv commented on #3
@bml - Excellent! Glad to hear that worked better.

I've found some additional places where I can trim dependencies and will be merging those changes soon.

That merge will also contain HDP version profile support for HDP 2.3.0.0 and 2.3.2.0 (new default), with a plan to continue adding versions going forward. All of these changes will officially be part of the 0.1.0 release I hope to get out this

[2015-10-31 20:11] sakserv commented on #2
@mohnishkodnani - My sincere apologies for the long delay here. I finally had time to work on adding Share Lib support.

Adding Share Lib support turned out to be trickier than I had expected. Each release has different jars in the Share Lib and each Share Lib tarball is 200+mb. Simply adding each release to the project was way too much bloat.The Share Lib tarball is available in the Oozie release

[2015-10-31 20:57] #2 closed

[2015-10-31 20:57] #3 closed

[2015-11-01 15:06] #1 closed

[2015-11-13 12:43] mlschechter opened #5 "WindowsLibsUtils hard-codes relative path to DLLs"
The `WindowsLibsUtils` initialization uses a hard-coded relative path to find the DLLs needed to run Hadoop/HDFS. If the `hadoop-mini-clusters` dependency is used in a multi-module project, I need to have the DLLs available in each project (or actually, in the parent of each project, which is complex when the module graph is a tree).

Would it be possible to make this an injectable system property

[2015-11-19 23:17] sakserv commented on #5
@mlschechter - Sorry for the delay. This is absolutely doable. Do you want to see HADOOP_HOME reused here? or should this be its own system property, WINDOWS_HADOOP_LIBS perhaps?

[2015-11-20 17:55] mlschechter commented on #5
Either would be a good solution; I think I'm in favor of consolidation if possible, and just re-using `HADOOP_HOME`. HBase assumes a `bin` directory underneath `HADOOP_HOME`, so you could assume a `lib` directory as well. This could also remove the need for the `hdp.release.version` and `hadoop.home.dir` properties.

The main thing is to provide a path with minimal hardcoding, and I think going fo

[2015-11-20 17:59] sakserv commented on #5
@mlschechter - Thanks for the feedback. I'll work to get this implemented and a new release cut by next week, hopefully sooner.

[2015-11-25 14:50] sakserv commented on #5
@mlschechter - I have made the change to allow setting HADOOP_HOME to whatever directory you'd like. If set, that value will be used. It was still necessary to set hadoop.home.dir and hdp.release.version is used to handle multiple hdp versions.

Let me know if the latest changes work for you or if you have additional suggestions and I'll work to cut a new release with this change.

Thanks!

[2015-11-30 13:01] mlschechter commented on #5
It sounds like we're going in the right direction. Could you please let me know where I could take a quick look at the changes?

Thanks!

[2015-11-30 13:09] sakserv commented on #5
The latest commit has the changes: 5fcd09012e51c2119d648f3490d6d201f0e0769c

[2015-11-30 13:51] mlschechter commented on #5
Looks great - thanks!

How soon can you have a release?

[2015-12-02 12:54] sakserv commented on #5
@mlschechter - 0.1.2 (d5eae24119e72657fcd0339eb59acbcf0a922993) has been released which contains this feature. Closing out the issue. Please open a new one if you have any issues.

Thanks again for the review and feedback!!

[2015-12-02 12:54] #5 closed

[2016-01-12 01:55] mohnishkodnani commented on #2
I also wanted to know when you create a yarn cluster, where do the hadoop jars get copied so that they are in the classpath when the application is run.

[2016-01-13 09:45] mohnishkodnani opened #7 "InJVMContainerExecutor"
When I try to use the in jvm container executor I get the following error
java.lang.ClassNotFoundException: org.apache.hadoop.mapreduce.v2.app.MRAppMaster

I am running the MiniYarnCluster from within Junit tests.
It ignores the Classpath created by the DefaultContainerExecutor in the shell script.

[2016-01-14 19:38] mohnishkodnani commented on #7
I modified the class such that it parses the export CLASSPATH statement in the launch_container.sh and I can now go past this problem, however, MRAppMaster does a new YarnConfiguration which by default gives fs.defaultFS as file:/// and so the staging directory for the job is not longer found because it tries to search for local file system.

[2016-02-05 19:18] sakserv opened #8 "Add support for HDP 2.3.4.0"
Add support for the recently released HDP 2.3.4.0 minor release.

[2016-02-10 13:57] sakserv commented on #7
@mohnishkodnani Sorry for the delay, would it be possible to point me to a repo with tests that recreate this problem?

[2016-02-10 19:09] #8 closed

[2016-02-10 22:14] sakserv opened #10 "KafkaServer API changes"
kafka.server.KafkaServer appears to change nearly every release. Use reflection to handle the evolution.

[2016-02-10 22:15] sakserv commented on #10
Resolving this will fix Kafka for the the HDP 2.3.0.0 and HDP 2.3.2.0 profiles.

[2016-02-11 16:27] #10 closed

[2016-03-29 15:57] sakserv commented on #7
Closing for now. Please open a new ticket if you still need assistance.

[2016-03-29 15:57] #7 closed

[2016-04-05 12:01] bml opened #12 "2.4.0 Support"
Hi @sakserv,

Are there any plans to add support for HDP 2.4.0?

thanks,

Barry

[2016-04-05 12:38] sakserv commented on #12
@bml - yes, I would like to add this in the very near future. I have some additional fixes I plan to roll out with that update. Although, the only real changes in 2.4 where updating to Spark 1.6, so it has minimal impact on this project.

[2016-04-05 19:55] bml commented on #12
Great, thanks. I'll keep an eye for updates.

Let me know if there is anything I can do to help.

[2016-04-06 19:15] #12 closed

[2016-04-06 19:18] sakserv commented on #12
I'm in the process of publishing the 0.1.5 release now, which includes support for HDP 2.4.0 (now the default profile). CI is currently running so it will be a bit yet, but I'll update this issue when it is ready in maven central.

[2016-04-07 12:43] sakserv commented on #12
Sorry for the delay, 0.1.5 is now released.

[2016-04-07 20:39] bml commented on #12
Awesome, thanks @sakserv!

[2016-04-28 05:40] mohnishkodnani commented on #7
I dont have a reproducible simple test case yet, my framework is complicated. But here are my observations.
1. We start HDFS cluster.
2. Set the fs.defaultFS to that location for our mapreduce cluster.
3. Launch a map reduce job.
4. We use InJVMContainerExecutor. When this InJVMContainerExecutor calls MRAppMaster's main method to run the mapreduce job. Inside that main method for MRAppMaster it do

[2016-05-08 12:24] sakserv commented on #7
Thanks for the follow up. In looking into MRAppMaster, it is not immediately obvious how I can fix this. main calls initAndStartAppMaster with the JobConf created from the new YarnConfiguration. This in turn calls init with this JobConf object. Let me do some additional testing here and I'll get back to you ASAP.

[2016-05-08 12:44] sakserv commented on #7
After a bit more testing, I believe what will work is to take your tests Configuration objects, write them out to the appropriate -site.xml files on the local filesystem, and add the path where the configurations were written to the classpath when submitting the application to YARN. This will allow MRAppMaster to pick up the configuration from the classpath in its environment. Unfortunately, there

[2016-07-13 07:47] RomanKovalik opened #14 "Oozie dependencies are missing from Maven Central"
The minor Oozie versions are no longer on maven central. Is there a reason that you choose to use minor versions for most of the dependencies?

[2016-07-13 12:03] sakserv commented on #14
The versions directly align with HDP (Hortonworks Data Platform) release versions and the dependencies live in the Hortonworks nexus repository.

I just did a few builds using varying profiles without issue. Can you share more details on what dependencies were failing?

[2016-07-26 00:53] RomanKovalik commented on #14
Ok cool, using SBT with the following ` libraryDependencies += "com.github.sakserv" % "hadoop-mini-clusters-oozie" % "0.1.7"` found at http://mvnrepository.com/artifact/com.github.sakserv/hadoop-mini-clusters-oozie/0.1.7 results in SBT unable to resolve the dependencies since they are now missing from the mvn central repository.

Adding Hortonworks nexus to SBT's resolvers fixed the issue:  `resol

[2016-07-26 13:06] sakserv commented on #14
Thanks for the follow up, @RomanKovalik - glad to hear you got it resolved.

[2016-07-26 13:06] #14 closed

[2016-08-02 03:06] samouille666 opened #16 "Error when using Kafka and Zookeeper"
Hello,

I have setup some unit test using the mini-clusters including Zookeeper and Kafka.
The process of launching clusters, creating topic and partition and sending message rolls out without error. Also the instantiation of consumers does not seem to raise any problem.
But when I tried to poll the message from the kafka partition I get a firsts stack that cause the broker to shutdown ...

`2016-

[2016-08-02 11:12] sakserv commented on #16
Would it be possible to share the code?

I expect that this could be related to the use of the new consumer API in conjunction with this version of Kafka, as it wasn't fully baked as of this version (what we have here is Kakfa 0.8.2 with the SSL/Kerberos bits back ported).

[2016-08-03 17:32] samouille666 commented on #16
Hello and thanks for your quick answer,

My excuses for my fault it was the conjunction of two bugs (using the new API):
I didn't know that subscribing by topic does not imply an immediate assignment of partition to the consumers but wait for call to _poll()_ or _position()_ say. I used the more secure _assign()_.
The use of sbt also erred me in a way because I didn't know test were executed in pa

[2016-08-03 17:34] #16 closed

[2016-08-03 18:06] sakserv commented on #16
@samouille666 - no problem! Glad to hear you got it working.

I'd love to add some scala examples, either in the wiki or the README. If you'd like to put them in the README, the easiest way would be to fork the project, update the README with your additions, commit, and then open a pull request. I can merge it into the code base from the pull request (and you get credit for the contribution). Othe

[2016-09-06 12:41] bml opened #17 "Add support for 2.5.0"
These mini-clusters have been a huge help to us @sakserv - thanks for all you work!

Are there any plans to add support for the recently released HDP 2.5.0?

[2016-09-06 13:11] sakserv commented on #17
Thanks for following up and feedback! I actually started on the HDP 2.5.0 profile work over the weekend. I hope to have an update soon on progress.

[2016-09-06 14:36] bml commented on #17
Awesome, thank you!

[2016-09-13 13:45] sakserv commented on #17
@bml - I just pushed an update to trunk that leverages HDP 2.5.0.0. Note that I haven't cut a new release yet due to a few items that still need addressed.

One of the goals of this project was to maintain backwards compatibility for earlier versions of HDP.  The code in trunk breaks this for Storm (packages moved from backtype.storm.* to org.apache.storm*) and YARN (ContainerExecutor#launchContai

[2016-09-14 13:01] sakserv commented on #17
Quick update. The oozie sharelib issue has been fixed. I just pushed an update to trunk. The other two issues remain.

[2016-09-14 14:44] bml commented on #17
Great, thanks for the quick turnaround!

[2016-09-22 13:35] isendel opened #18 "HBase mini cluster fat jar"
Mini-cluster for HBase use Shade plugin for preparing the artifact. It is packing humongous amount of libs inside that artifact without actual relocating of that packages.
Is it done on purpose?

[2016-09-22 14:16] sakserv commented on #18
@isendel - thanks for reaching out.

This was done on purpose, but perhaps there are improvements that could be made. The issue here is that storm-core and hbase-testing-utils both leverage the lmax disruptor library, but incompatible versions. Without relocating the lmax package, it would break the ability to test storm topologies that leverage a HBase spout/bolt.

Let me know your thoughts on be

[2016-09-22 17:33] isendel commented on #18
I commonly agree on lmax relocating, shade plugin fits that perfectly fine to ensure backward compatibility. My only concern is about the rest of the dependencies and transitive dependencies included into final artifact producing a fat jar. Whole bunch of commonly used classes from libraries like Guava, Jackson and many others are inside that *-hbase jar.
If LMAX dependency is the only one you nee

[2016-09-23 18:45] isendel commented on #18
@sakserv Great, thank you. I've made a [PR](https://github.com/sakserv/hadoop-mini-clusters/pull/19) that does same but in more concise way. Please check it out.

[2016-09-23 20:05] sakserv commented on #18
Thanks for the feedback and PR. It has been merged. In will include this in the upcoming release. (FYI I'm aware of the build failures and working towards moving to circleci)

[2016-09-23 20:05] #18 closed

[2016-09-23 20:32] isendel commented on #18
@sakserv Thank you so much and appreciate your work on the project. It's really helpful.

[2016-10-03 14:34] sakserv commented on #17
I just released 0.1.8 which includes support for HDP 2.5.0. Thanks for the report and feedback.

[2016-10-03 14:34] #17 closed

[2016-12-01 14:34] sakserv opened #20 "Add support for HDP 2.5.3.0"
HDP 2.5.3.0 has been released. Make this release the new default profile.

[2016-12-04 16:16] seregasheypak opened #21 "I wasn't able to run oozie-mini-cluster with "real" workflow"
Root cause: something weird with share lib.
Here is the code for `com.github.sakserv.minicluster.impl.OozieLocalServerIntegrationTest` that reproduces issue.
[code]

I would like to try to debug it. Where do oozie logs go?

[2016-12-11 16:14] AvihayTsayeg opened #22 "Error Using Minihadoop"
Hi,
I'm using These dependencies:
[code]
running simple example getting the following error:
[code]

I'm getting the following error:
[code]

Regards, Avihay

[2016-12-26 14:51] sakserv commented on #22
@AvihayTsayeg - sorry for the delay. I broke notifications for this project and missed this issue.

I just put together a simple test using what you've provided above and all seems to work as expected using maven.

I'm not well versed in gradle, but are the transitive dependencies not pulled in? Do you see the hadoop-hdfs jar in your classpath? You might need to explicitly add them.

Here is what

[2016-12-26 17:02] sakserv commented on #21
@seregasheypak - sorry for the delay. I broke notifications for this repo and missed this issue. Thanks for reporting this.

I found the issue with logging and will include the fix in the 0.1.9 release I am cutting today. The fix will set  LocalOozie logging to the console. Please give that a try to see if it uncovers more details on the issue above.

I'll report back when 0.1.9 is released.

[2016-12-26 18:38] sakserv commented on #20
0.1.9 has been released with HDP 2.5.3.0 support.

[2016-12-26 18:38] #20 closed

[2016-12-26 18:39] sakserv commented on #21
0.1.9 has been released. Please let me know what you find out.

[2017-01-27 21:27] JimmyBuzzard opened #27 "Possible errors in examples"
All examples that set resource manager hostname and address have those two swapped.
[code]
Should be:
[code]

[2017-01-30 17:10] sakserv commented on #27
Thanks for reporting this. I will fix the readme soon.

[2017-02-02 13:13] #27 closed

[2017-02-27 19:00] augustoamerico opened #28 "How can this rep help me?"
Sorry, this is really not an issue.
I tried to get your email from your profile, but no success.

I'm trying to study the hadoop ecosystems to see how I can use it to develop a system but one which I can debug on my localhost.

After spending a few minutes checking the project and cloning the project, I still don't understand how can I use this.

Can you please enlighten me?

[2017-03-01 20:06] timvw commented on #28
I use this repository as a means to quickly set up an environment which i can use to run integration tests on..

[2017-03-02 12:12] sakserv commented on #28
Thanks @timvw for your response!

@augustoamerico - This project is intended for Java developers that would like to write integration tests without needing a development Hadoop cluster or, say, the Hortonworks Sandbox virtual machine. As part of your test code, you can start a "Mini Cluster" without ever having to install Hadoop or start a virtual machine.

You don't say much about your project, b

[2017-03-02 13:55] augustoamerico commented on #28
Thank you both!
I will take a look on that.
Regarding my project , I have a web server (java) that provides an app with
some analytics and predictive functionalities (R code) , but now the
project needs to scale and therefore I'm trying to learn the hadoop
ecosystem and the hadoop ways.

I came across this repo and felt that this could be useful somehow, and
that's why I asked the question.

Again

[2017-03-02 14:35] sakserv commented on #28
No problem, @augustoamerico - I'm going to close this issue for now, but I'll keep an eye on any updates in case you have questions. Thanks for your interest.

[2017-03-02 14:35] #28 closed

[2017-03-09 01:23] seregasheypak opened #30 "oozie-mini-cluster fails with "real" workflow. Seems like oozie shared lib misconfigured"
Hi, it's successor of https://github.com/sakserv/hadoop-mini-clusters/issues/21
PR is here:
https://github.com/sakserv/hadoop-mini-clusters/pull/29

So, here the exception. I suppose it's the root cause of failure. This
[code]

[2017-03-30 08:16] sanjeevkanabargi opened #31 "Exception while setting up cluster"
I am getting **"java.lang.IllegalArgumentException: The value of property bind.address must not be null"** while using hdfsmilicluster. can anyone please help me to resolve this issue ?

Code snippet :

[code]

Exception :

    java.lang.IllegalArgumentException: The value of property bind.address must not be null
	at com.google.common.base.Preconditions.checkArgument(Preconditions.java:88)
	at or

[2017-04-03 21:55] sakserv commented on #31
@sanjeevkanabargi sorry for the delayed response.

This isn't one I've encountered before, but it appears you are running on Windows, which may be why I'm not seeing it.

In looking at the Namenode and HTTPServer2 code, it seems "bind.host" in the HTTPServer should be set to the HTTP port used by the NameNode.

Can you try to explicitly add the property "dfs.namenode.http-bind-host" to your config

[2017-04-14 13:17] sanjeevkanabargi commented on #31
@sakserv  Thank you for response, I will check with the configuration you mentioned and reply you soon.

[2017-04-24 13:47] creed30 opened #32 "Connecting to Storm MiniCluster via NimbusClient"
Is it possible to connect via NimbusClient via MiniCluster?

    List<String> stormNimbusSeeds = new ArrayList<>();
    stormNimbusSeeds.add("localhost");
    stormNimbusSeeds.add("192.168.26.139");
    conf.put(Config.NIMBUS_SEEDS, stormNimbusSeeds);
    ZookeeperLocalCluster zookeeperLocalCluster = new ZookeeperLocalCluster.Builder()
            .setPort(12345)
            .setTempDir("embedded_

[2017-04-24 14:05] sakserv commented on #32
@creed30 - Thanks for the report. I've not tested this before, so I'm unsure. I'll take a look when time permits.

One quick thing to try. I noticed when creating the StormLocalCluster you are instantiating a new Config object. Have you tried passing in the populated Config object you created with the Nimbus details?

Thanks.

[2017-04-24 14:20] creed30 commented on #32
I have, but maybe I am missing a Config? Is there a list of required properties that you might be able to point me towards?

[2017-04-26 14:22] artur-tamazian opened #33 "Hbase reset info server is not stopped"
I'm using hbase local cluster (same code from examples). When I try to stop hbase cluster and then start it again I get an exception saying `java.net.BindException: Port in use: localhost:8085`. So looks like InfoServer started in HbaseRestLocalCluster is not stopped when HbaseRestLocalCluster.stop() is called.

Additional note: HbaseLocalCluster.getHbaseRestLocalCluster() is public even though Hb

[2017-04-30 13:07] sakserv commented on #33
Thanks for reporting this. I have a fix that I'm working through now to validate. I'll push it shortly and make the fix part of the next release.

[2017-04-30 13:15] sakserv commented on #33
@artur-tamazian - I'm unable to recreate the exception locally, but I have added code to explicitly stop the InfoServer and I now see the channel being stopped in the tests.

[code]

Also, I've made HbaseRestLocalCluster public, I see no reason we shouldn't.

I'll push these changes here in a few minutes. Please feel free to reopen this issue if you still see this after the changes. Thanks again f

[2017-04-30 13:38] sakserv commented on #33
PR #34 merged, closing.

[2017-04-30 13:38] #33 closed

[2017-04-30 13:47] sakserv opened #35 "Knox issues after upgrading to HDP 2.6.0.3"
After upgrading packages to HDP 2.6.0.3. The following exception occurs with the Knox WebHDFS test which appears to be related to conflicting asm packages. All other modules are in good shape.

[code]

[2017-04-30 15:00] artur-tamazian commented on #33
Pls see my comment in PR. Thanks for the fix!

[2017-04-30 16:01] sakserv commented on #33
@artur-tamazian - thanks for the review, I'll add a null check before next release.

[2017-04-30 16:45] sakserv commented on #32
@creed30 - I'm getting ready to merge a pull request that fixes this issue. You can now use NimbusClient as follows. A test has been added to instantiate the NimbusClient and get the config, validating it is not empty.

[code]

Please feel free to reopen this if you are still having issues. Thanks!

[2017-04-30 16:46] #32 closed

[2017-04-30 16:47] sakserv commented on #31
@sanjeevkanabargi - I'm going to close this for now as I've been unable to reproduce the issue. Please reopen this issue when you have more details. Thanks!

[2017-04-30 16:47] #31 closed

[2017-05-06 20:46] sakserv commented on #30
The fix has been committed. Thanks!

[2017-05-06 20:46] #30 closed

[2017-05-20 14:34] sakserv commented on #35
Opened https://issues.apache.org/jira/browse/KNOX-943 as I've yet to find a solution here.

[2017-06-01 13:35] artur-tamazian commented on #33
@sakserv is there an estimated release date yet?

[2017-06-01 14:17] sakserv commented on #33
@artur-tamazian - I was hoping to get #35 resolved so I could release the HDP 2.6 version at the same time. I've got notes into several folks in an effort to get to working solution on that issue. If I'm unable to make any progress by next week, I'll drop Knox support for now and get the release out. Sorry for the delay.

[2017-06-23 06:40] ashitabh opened #37 "Hbase mini clustrer is not supporting multiple client connections"
I tried running 2 client connection to the already running Hbase mini cluster, however, only the first one works the second one creates an error on hbase server and server stops responding.

Does hbase minicluster allows more than one connection ?
I tried setting   .setMaxClientCnxns(10) in zookeeper , but that also didn't help

error message:
up and running...
2017-06-23 07:38:05,809 	FATAL 	RS_C

[2017-06-23 12:13] sakserv commented on #37
Do you have an example of the code that I can look at? The above looks like there might be multiple versions of commons-io on the classpath, but I haven't been able to recreate it.

[2017-06-23 12:54] ashitabh commented on #37
Basically I am starting Hbaseminicluster in file1 and testing the connecitons from file2 and file 3 .
Code in file 1:
*********************************************************************************************
  val zookeeperLocalCluster = new ZookeeperLocalCluster.Builder()
      .setPort(zookeeperPort)
      .setTempDir("./target/embedded_zookeeper")
      .setZookeeperConnectionString(zookeep

[2017-06-24 13:22] rajesh-kumar opened #38 "ERROR ShareLibService:517 - org.apache.oozie.service.ServiceException"
Hi Shane,

First of all, I wanted to say thanks a lot for sharing/working on this project. This is the most needed project that we wanted for so long.

So, I am trying to use oozie project for our unit testing and came across following issue (I am using 0.1.11 version) -

2017-06-24 14:15:25 ERROR ShareLibService:517 - org.apache.oozie.service.ServiceException: E0104: Could not fully initialize se

[2017-06-28 22:52] #37 closed

[2017-06-29 12:41] sakserv commented on #37
Really sorry for the delay, it's been a busy week. Did you find a solution to this? Is so, would you mind sharing what you found? Thanks!

[2017-06-29 12:48] sakserv commented on #38
Hello @rajesh-kumar - sorry for the delay here. I'd like to make this more seamless, but currently, you have to explicitly initialize the share lib setup.

See the example code below for how to do that.
https://github.com/sakserv/hadoop-mini-clusters/blob/master/hadoop-mini-clusters-oozie/src/test/java/com/github/sakserv/minicluster/impl/OozieLocalServerIntegrationTest.java#L112

Let me know if yo

[2017-06-29 13:28] sakserv commented on #35
This issue still existed in HDP 2.6.1.0. I will exclude the Knox tests from the surefire plugin and release as is. PR's welcome with a fix.

[2017-06-29 14:31] sakserv commented on #35
travis is having issues currently. New release coming once travis is working again.

[2017-06-29 20:07] sakserv commented on #33
Really sorry for the delay here. I've finally released 0.1.12 which includes this fix.

[2017-06-30 07:48] ashitabh commented on #37
Couldn't find the real reason. I just removed all unwanted modules from Intellij and restarted IntellijIDE. Now I am not facing any issue , I can open multiple connections to Hbase. Thanks

[2017-06-30 10:44] sakserv commented on #37
Thanks for the response @ashitabh

[2017-06-30 17:56] artur-tamazian commented on #33
@sakserv thanks a lot!

[2017-07-02 23:41] rajesh-kumar commented on #38
Thank you. It worked with latest version. Just want to highlight two points -

1)

Could you please add proxy support in HttpUtils class -

private static final boolean USE_PROXY = Boolean.parseBoolean(propertyParser.getProperty("USE_PROXY"));
private static final String PROXY_IP = propertyParser.getProperty("PROXY_IP");
private static final int PROXY_PORT = propertyParser.getProperty("PROXY_PORT"

[2017-07-04 17:24] sakserv commented on #38
@rajesh-kumar - thanks for circling back. It might be a bit before I can get to number 1. If you'd like to open a pull request, I'll work on getting it merged. I'll take a look at number 2. I have a thought on the cause.

[2017-07-08 15:41] jetoile commented on #35
Hi,

I just find a very very ugly way to make knox works.
It seems that it comes with enabling Jetty's JSP support in Knox hosted applications [KNOX-692].

If you override the class and disabling this code, it works.

I make the "patch" on hadoop-unit and it works.
https://github.com/jetoile/hadoop-unit/blob/master/hadoop-unit-knox/src/main/java/org/apache/hadoop/gateway/GatewayServer.java

Howeve

[2017-07-11 14:37] sakserv commented on #38
@rajesh-kumar - Thanks for submitted the PR! The patch doesn't apply cleanly, but I'll work on that part and will try to get that merged today.

Regarding needing to set the hdp.release.version system property, I've done some tests and I'm not seeing that issue, the variable is properly populated by maven. One change I made several releases back was to remove the intellij related artifacts from th

[2017-07-11 16:40] sakserv commented on #35
Thank you for tracking this down @jetoile! It's a privilege to how you as a user. :) I'll take a hack for this as I'm not finding another way. I'll work on getting this integrated in the near future and will cut a new release.

[2017-07-11 16:50] jetoile commented on #35
thx ;)

[2017-07-11 18:16] sakserv commented on #38
The PR has been merged. Let me know what you find on the hdp.release.version issue. Thanks!

[2017-07-11 21:08] sakserv commented on #35
I've gone ahead and released 0.1.13. Closing this for now and will continue to check that this workaround is required. Thanks again!

[2017-07-11 21:08] #35 closed

[2017-07-11 21:09] sakserv commented on #38
0.1.13 has been released and includes the proxy support PR.

[2017-07-16 13:02] sakserv commented on #38
Closing this for now. Please open a new issue with what you are seeing if the hdp.release.version continues to be an issue. Thanks!

[2017-07-16 13:02] #38 closed

[2017-08-15 10:50] Srogozins opened #42 "java.lang.NoSuchMethodError when trying to use hadoop-mini-clusters-yarn for Spark tests"
I'm working on testing a Spark job, by submitting it to a local Yarn implementation. To do that, spark-yarn is required. However, when I try to run yarnLocalCluster.start() after building with it, I get following error:

[code]

Looks like some kind of conflict in versions of Yarn components. Any workarounds until it's fixed?

pom.xml:
[code]

TestSample.java:
[code]

Full backtrace:
[code]

[2017-08-15 14:33] sakserv commented on #42
Thanks for reporting this, @Srogozins - it's not an issue I've encountered, so I'll need to do some testing. I would agree that it looks like a dependency conflict. Hopefully I'll have a bit of time this weekend to take a look.

[2017-08-16 10:29] Srogozins opened #43 "Wrong FS Error when trying to run Local Oozie Server together with Mini HDFS Cluster"
I'm working on a setup for testing oozie workflows in IDE. An attempt to start Oozie Local Server that uses Mini HDFS Cluster instance fails with following error:

[code]

TestSample.java:
[code]

I've followed example instructions in README.MD, just changed the port to match HDFS cluster's. Not sure if related to #30

[2017-09-09 17:54] sakserv commented on #42
@Srogozins - truly sorry for the delay, free time has been tough to come by lately.

I was able to recreate the issue you reported. The reason this is happening is because spark-yarn_2.11 includes YARN 2.6.5 libs, while HDP uses YARN 2.7.3.

If you do a `mvn dependency:tree` you'll see the following:

[code]

Exclude those 2.6.5 libs and it will fix the issue.

[code]

Closing this for now, but fe

[2017-09-09 17:54] #42 closed

[2017-09-09 18:11] sakserv commented on #43
Hey @Srogozins - This is a known issue. If you take a look at OozieLocalServerIntegrationTest you'll see a working example (the same pattern is used for all of the mini clusters, so take a look at the *IntegrationTest classes for help).

Add the following before starting the oozieLocalServer and it will fix the issue:

[code]

I've updated the readme to include this step. Feel free to reopen this

[2017-09-09 18:11] #43 closed

[2017-09-13 04:20] zqhxuyuan opened #44 "kafka_2.10 to kafka_2.11"
plz upgrade kafka_2.10 to kafka_2.11. or else exception throws .

[code]

If I exclude kafka_2.10, and use kafka_2.11, still exceptions:

[code]

I'm using 0.1.13

[2017-09-13 10:28] jetoile commented on #44
Hello,

Since Hortonworks has overload Kafka's constructor, you have to use the hortonworks' kafka version

Hope this helps.

[2017-09-28 11:28] jetoile opened #46 "release 0.1.14 not on maven central"
Hello,

It seems that hadoop mini clusters 0.1.14 has not been released on maven central.

Any ideas?

Thanks.

Khanh

[2017-09-28 13:57] sakserv commented on #46
Hey @jetoile - sorry about that, it seems there was an issue when I released the artifact via sonatype's nexus. I tried again and it looks to have completed. Let me know if it doesn't show up in the next couple hours. Thanks!

[2017-09-29 11:58] sakserv commented on #46
The artifacts are now in maven central. Feel free to reopen this if there are still issues. Thanks!

[2017-09-29 11:58] #46 closed

[2017-10-01 06:37] timvw commented on #44
For me it works by excluding the kafka_2.10 dependency and including kafka_2.11

`        <dependency>
            <groupId>com.github.sakserv</groupId>
            <artifactId>hadoop-mini-clusters-kafka</artifactId>
            <version>${hadoop-mini-clusters.version}</version>
            <scope>compile</scope>
            <exclusions>
                <exclusion>
                    <groupId>org

[2017-10-01 21:15] vishwajeetdusane opened #47 "Can't load library - windows_libs\2.6.2.0\lib\hadoop.dll"
Looks like windows_libs\2.6.2.0 is not updated yet in master. Project is failing with 2.6.2.0 profile.

[2017-10-18 19:24] timvw opened #48 "Support for Kafka 0.10.x and 0.11.y"
It seems that the Time interface has been moved from kafka.utils.Time to org.apache.kafka.common.utils.Time;

How can we integrate this cleanly? (The changes to the pom are just there for me to run the tests)
https://github.com/timvw/hadoop-mini-clusters/commit/36295c94d3b7b5b7297a79a7f6199666296f2c41

[2017-10-22 11:45] sakserv commented on #47
Sorry for the oversight. I had not been keeping the windows libs up to date. I have corrected this. Please feel free to reopen if you still encounter issues using trunk.

[2017-10-22 11:45] #47 closed

[2017-10-22 13:33] sakserv commented on #48
Hey @timvw - thanks for taking the time to open this. Currently, HDP ships 0.10 AFAIK, and I've tried to align releases to HDP version. Please correct me if I'm wrong.

To make sure I understand, the ask is to also support 0.11, correct? I believe scala 2.10 is no longer an option for 0.11, so we'll need to move to kafka_2.11. Did you have a specific kafka version in mind? I don't see any 0.11 in

[2017-10-22 13:35] sakserv commented on #44
@zqhxuyuan - truly sorry for the delay. Free time has been limited lately. Can you help me understand the need here? This project has aligned with HDP versions to date, and I believe kafka-2.10 is still what HDP ships with. Maybe we can consolidate the requirements and needs into issue #48 and come up with a solution for both. Thoughts?

[2017-10-23 11:56] vishwajeetdusane commented on #47
Great, Thanks @sakserv

[2017-10-26 11:31] NoRights opened #49 "Support for System property of HADOOP_HOME in windows"
I tried to run mini yarn cluster but while starting i got followed exception:
[code]
although that i have my HADOOP_HOME setup correctly.

[2017-10-26 11:38] sakserv commented on #49
The "null" part of the path would indicate that you don't have a profile version set. What is HADOOP_HOME set to?

[2017-10-26 12:05] NoRights commented on #49
Created pull request for this issue

[2017-10-26 12:19] sakserv commented on #49
Thanks @NoRights - the fix makes sense. I'll keep an eye on the CI runs and will merge it when those wrap up.

[2017-10-26 14:09] sakserv commented on #49
Thanks for the PR @NoRights ! It has been merged.

[2017-10-26 14:09] #49 closed

[2017-11-15 22:03] ekohlwey opened #51 "NPE when using KdcLocalCluster"
On version 0.1.14 an NPE happens when using `KdcLocalCluster` in `KeyStoreTestUtil` on line 51. This code inspects the URL provided from the classloader in order to find the classpath of the local cluster.

The code as written will work for the build before sources are archived but will not work when the classes are in JAR files. The reason for this is that `url.toURI().getPath()` will return `nul

[2017-11-29 16:27] the-ram opened #52 "Class not found Exception while running HBASE Mini Cluster (org.apache.hadoop.hbase.backup.impl.BackupException)"
I have an existing project running storm that writes into HBASE. As a result i use HBASE client libs. When i run this i get a class not found exception.
I am pretty sure it is a class conflict with the HBASE client libraries , as i can get this to run clean on a project that has no HBASE client dependencies.
I use an older version of HBASE libs
			<groupId>org.apache.hbase</groupId>
			<artifactId

[2018-01-25 16:52] Shastick commented on #51
/bump: running into the same issue, and reached the same conclusion as ekohlwey :)

[2018-02-10 14:33] sakserv commented on #52
Sorry for the delay here. The hbase version leveraged in the mini cluster project is 1.1.2. Can you post your pom.xml so I can try to find a fix?

[2018-02-10 14:33] #52 closed

[2018-02-12 11:31] the-ram commented on #52
Hello Shane , attached is the POM. I have tried combinations including the hbase-master and backup jars in the pom in various scopes. I think the issue is with the hbase-client jars and phoenix-jars that i already use
[pom.zip](https://github.com/sakserv/hadoop-mini-clusters/files/1716124/pom.zip)

[2018-02-21 10:30] explicite opened #54 "Publish for HDP 2.5.5.0-157"
Hello,
Are you able to release for hdp in version 2.5.5.0-157?

Cheers,
Jan Paw

[2018-04-25 21:40] sampathsree opened #56 "Support for Hive ACID Merge feature"
Require HiveLocalServer2 support for ACID Merge feature on transactional tables.
A simple example - https://community.hortonworks.com/articles/97113/hive-acid-merge-by-example.html

[2018-05-07 17:30] saranheartmail opened #57 "support request - dfs mini cluster"
If we want to connect dfs mini cluster  like hdfs://dfsminiclusteripaddress:port/   instead of local host.  Most of the blogs never taked about remote connection from hadoop client. I
 Will this package support for remote connectivity from hadoop client. If not could you please explain what would be the difficulties to acheive connect this cluster from remote machine?.

[2018-05-21 17:40] maggiemagnuson opened #58 "java.lang.NoSuchMethodException"
I'm getting the following exception while running hadoop-mini-clusters (HDFS, Yarn, Zookeeper, HS2 and Hive MetaServer) along with the 2.2.0 version of Spark, non-Hortonworks flavor.

java.lang.NoSuchMethodException: org.apache.hadoop.hive.ql.metadata.Hive.loadDynamicPartitions
at java.lang.Class.getMethod(Class.java:1786)
	at org.apache.spark.sql.hive.client.Shim.findMethod(HiveShim.scala:158)
	a

[2018-09-11 15:08] dawudr opened #59 "Insert with Spark 2 Sql Context on Hadoop Mini clusters"
I'm trying to use Spark SQL Context with Hadoop-mini-clusters, specifically with inserts from Spark SQL context. Could this be made possible?

I have HIVE, Thrift server and Spark SQL context working and creating tables and select statements work fine. But I wanted to insert test data using Spark sql context like this but I get this exception: java.lang.IncompatibleClassChangeError: Implementing c

[2018-09-12 09:01] dawudr commented on #59
Reply from a HiveRunner contributor 👍

It looks like some horrendous classpath issue that you're having. Perhaps set an exception breakpoint on java.lang.IncompatibleClassChangeError and run in a debugger to see what it's failing to load? Then check for that in your classpath, its dependencies etc. I see you've raised an issue in the mini-clusters project also. Are the inserts simply to set-up tes

[2018-09-14 13:13] sakserv commented on #51
Truly sorry for the delay. Free time has been difficult to come by lately.

I have just pushed a fix to this issue and will make it part of the next release, which I hope to have out by the end of the weekend.

[2018-09-14 13:13] #51 closed

[2018-09-14 13:15] sakserv commented on #54
From what I can tell, you are looking for support for HDP 2.6.3.0 now, so I expect this is stale. Closing but please reopen if this is still a need.

[2018-09-14 13:15] #54 closed

[2018-09-14 13:19] sakserv commented on #57
The main challenges are around HDFS protocol version mismatch. Your HDFS client must speak the same version as the HDFS servers. Note that most HDFS client tutorials are actually outlining connecting to a remote server. fs.defaultFS in your configuration is what determines where the connection should go.

Here is an example HDFS client:
https://gist.github.com/ashrithr/f7899fdfd36ee800f151

[2018-09-14 13:19] #57 closed

[2018-09-14 13:21] sakserv commented on #44
I'm looking to restructure the project for Hadoop/HDP 3, given the wide range of changes. This should make it easier to support different versions of a particular service. Given this, and the lack of discussion on this topic, I'm going to close this issue. Please reopen if this is still needed.

[2018-09-14 13:21] #44 closed

[2018-09-14 13:21] sakserv commented on #48
I'm looking to restructure the project for Hadoop/HDP 3, given the wide range of changes. This should make it easier to support different versions of a particular service. Given this, and the lack of discussion on this topic, I'm going to close this issue. Please reopen if this is still needed.

[2018-09-14 13:21] #48 closed

[2018-09-24 14:18] explicite opened #61 "Spark 2 with metastore"
Hello @sakserv,

We are trying to connect with Spark 2 with 0.1.15v . I have exception:
`2018-09-24 16:15:51 INFO  JDO:87 - Exception thrown
Identifier name is unresolved (not a static field)
org.datanucleus.exceptions.NucleusUserException: Identifier name is unresolved (not a static field)
	at org.datanucleus.query.expression.PrimaryExpression.bind(PrimaryExpression.java:182)
	at org.datanucleus.

[2018-09-24 14:19] sakserv commented on #61
Please provide a link to a project that recreates the issue. I don't have Spark setup nor the time to do so.

[2018-09-27 12:41] lvaylet opened #62 "Unable to reach individual services in dockerized mini-cluster"
Hi @sakserv,

First of all, thank you for providing such an intuitive and easy-to-use testing environment for Hadoop clusters. We have been using hadoop-mini-clusters in our CI/CD toolchain for a few months now, and are very happy with the results so far.

The first version of our CI/CD toolchain is based on bash scripts responsible for packaging and instantiating the mini cluster for unit or inte

[2018-09-27 12:58] sakserv commented on #62
@lvaylet - I think you are spot on with your assessment. For one of the ports, inside your container, run a `netstat -plant | grep <port>`. It is likely bound only to localhost. Switching those services to use 0.0.0.0 should do here.

[2018-09-27 13:14] lvaylet commented on #62
Thank you so much for the prompt reply. Taking Knox as an example, the command returns:

[code]

Assuming 127.0.0.1 and localhost are equivalent for our matter, the port is indeed bound to localhost. Would you mind sharing how to switch the Knox service to use 0.0.0.0 instead? I am having a hard time figuring out how to do this in the source code itself.

[2018-09-27 13:58] sakserv commented on #62
Yes, 127.0.0.1 is typically the loopback address, and localhost typically resolves to that address.

Similar to how you are using `setPort(8443)`, there is a `setHost()` method on the builder. You'll want to look for similar in other services.

[setHost](https://github.com/sakserv/hadoop-mini-clusters/blob/master/hadoop-mini-clusters-knox/src/main/java/com/github/sakserv/minicluster/impl/KnoxLocal

[2018-09-27 14:38] lvaylet commented on #62
You are amazing. Using `.setHost("0.0.0.0")` lets us query Knox from outside the container:

[code]

Port 8443 is now bound to 0.0.0.0 inside the container:

[code]

Then we might not have to look for a similar method in other services. We mostly use Knox as our gateway.

Closing this ticket. Thanks again for your help.

[2018-09-27 14:38] #62 closed

[2018-09-27 14:48] sakserv commented on #62
Awesome! Glad to hear that worked out.

+1 on your approach of only exposing Knox. That is closer to how you'll use it in a "real" cluster, so it makes sense to test that way as well. :)

[2018-10-01 11:17] explicite commented on #61
@sakserv
https://github.com/explicite/hadoop-mini-clusters-bug/tree/master

[2018-10-02 08:44] explicite commented on #61
You can run failing test with
`sbt test`

[2018-10-08 14:36] sakserv commented on #61
@explicite - I haven't been able to resolve the above, but I did create a java project with both the hivemetastore and spark libs and ran into some NoClassDef exceptions for datanucleus classes. Looking at the dependency trees, the version of the datanucleus libs in spark is older than Hive. Explicitly setting the dependencies in the pom to match the version Hive depends on resolved the issue and

[2018-10-09 14:44] explicite commented on #61
Thansk @sakserv
PoC updated:
- `spark.sql.warehouse.dir` pointing metastore warehouse dir
- dependency overrides for datanucleus

I have still error
[code]

[2018-10-14 17:34] sakserv commented on #61
Hey @explicite - I was able to resolve the configuration issue and the JDO error. I'll open a PR with these changes soon.

With those fixes, I'm now hitting the exception below related to parquet lib conflicts. I'll take a look as time permits, but in the meantime, check the classpath for multiple parquet jars and experiment with exclusions. I expect it will be another week before I can look again

[2018-12-17 16:49] zied2 opened #63 "Oozie sharelib issue"
Hello,

Thanks for this powerfull tool which makes easy to build testing tools around hadoop ecosystem.

I encounter a problem during Oozie workflow launching, I think Oozie does not locate the sharelib which is installed on  /user/root/share/lib/oozie/lib_20181217163941/share/lib

`OOZIE: Writing share lib contents to: /user/root/share/lib/oozie/lib_20181217163941/share/lib`

Oozie workflow logs:

[2019-01-11 07:09] explicite opened #64 "Bump to HDP 2.6.5"
Hi @sakserv,

We are planning bum HDP to 2.6.5 and we need to test somehow our code. Can you release for https://docs.hortonworks.com/HDPDocuments/HDP2/HDP-2.6.5/bk_release-notes/content/comp_versions.html

Cheers,
JP

[2019-01-18 20:30] sakserv commented on #64
@explicite - I just committed the necessary changes for 2.6.5 to master. Can you take a look to make sure it works for you? If so, I'll officially release it. Thanks again for the contributions!

[2019-01-21 14:01] explicite commented on #64
Hi @sakserv, looks good (minor fixes in PR's). Do we have any ETA?

[2019-01-22 16:54] sakserv commented on #64
@explicite - thanks again for the contributions. I have released 0.1.16 which includes support for HDP 2.6.5. The artifacts should be available from Maven central any time now. Feel free to open a new issue if you encounter any issues.

[2019-01-22 16:54] #64 closed

[2019-01-22 16:57] #58 closed

[2019-01-22 16:57] sakserv commented on #59
Unfortunately, I've been unable to recreate this issue. If this is still an issue, please feel free to reopen with a link a repo where the issue is reproducible. I'd be happy to take a look.

[2019-01-22 16:57] #59 closed

[2019-01-22 16:58] sakserv commented on #61
@explicite - can you see if this is still an issue with the current release?

[2019-01-22 17:07] sakserv commented on #63
Sorry for the delay. Would it be possible to share the code (and the properties file)? It appears to me like Oozie is looking for the sharelib directory on the local filesystem vs HDFS. "/user/root/share/lib" is a HDFS path.

[2019-01-23 12:31] sakserv commented on #61
That is great news. I will close this out. Go ahead and open a new issue (or PR) with the PoC and I'll take a look. Thanks!

[2019-01-23 12:31] #61 closed

[2019-03-28 14:16] ripoul opened #68 "problem with org.apache.hive.hive-jdbc version"
HI,
I have a problem when I add a dependency in my pom.xml
[code]
It throw this exception : `Exception in thread "main" java.lang.NoSuchMethodError: org.apache.hadoop.hive.metastore.RetryingMetaStoreClient.getProxy`

Any idee ? Witch version I have to use ?

[2019-03-28 18:22] ripoul commented on #68
solve using `v1.2.1000.2.6.5.0-292`

[2019-03-28 18:22] #68 closed

[2019-03-29 07:45] ripoul opened #69 "junit5"
I don't succeed to use Junit 5 with your lib. Any tips ?

PS : awsome work ! GJ !

[2019-03-30 12:03] sakserv commented on #69
Unfortunately, it is not something I've had time to try. If you can share a project that recreates the issues and explain the issues you are facing, I can try to help.

[2019-04-26 08:56] ripoul opened #70 "nullPointerException property-parser"
I've got a nullPointerException when I use `propertyParser.getProperty(ConfigVars.HDFS_ENABLE_RUNNING_USER_AS_PROXY_USER)`.

I use property-parser 0.0.3 and hadoop-minicluster 0.1.16

[2019-07-30 22:58] batramanuj commented on #52
How did you fix this?

[2019-08-20 12:09] #69 closed

[2020-02-13 01:11] adamkennedy opened #72 "Support for CDH, CDP and/or Apache in post-HDP world"
Current these libraries are based on the Hortonworks builds of open source projects, and the Hortonworks repository.

How do you see support for other distributions in future?

[2020-06-05 06:41] cxiiiiiii commented on #52
delete the dependency of hbase-client in your pom
hope this will help you

[2020-06-17 14:43] abu-s-khalid commented on #72
Could you please update on this? All of our integration tests using hadoop-mini-clusters not working after updating hive to 3.1 due to some of the classes used by mini clusters moved to different packages. Thanks

[2020-07-13 22:04] mj4304 opened #73 "Unable to create table with HDP 3.0 version"
Unable to create table with HDP 3.0 version, getting below error
java.lang.noclassDefFoundError:org/apache/hadoop/hive/thrift/hadoopThriftAuthBridge
       at com.github.sakserv.mimicluster.impl.hiveLocalMetaStore
$StartHiveLocalMetaStore.run(hivelocalMetaStore.java:167)
       at java.lang.thread.run(Thread.java:748)
caused by:java.lanf.classNotFoundException:
org.apache.hadoop.hive.thrift.Hadoop

[2020-10-17 09:11] rgirodon opened #75 "Issue with wordcount MapReduce"
First of all thank you for your work.
I have a problem with the mapreduce wordcount example.
If I put another word than "This" (for example "ten"), it does not count it correctly.
It seems that the reduce phase does not write correctly (entirely) the file on the Hdfs.
Is there something I'm not understanding correctly ?
Thank you.

[2021-04-13 09:26] biaoma-ty commented on #31
I can reproduce this exception in version 3.3.0 on a specific machine, but not sure what's the difference of the ethernet card settings between this machine and others, since other machine can not reproduce this exception.

Manually set the dfs.namenode.http-bind-host config is not working in my case.

Is there any config could I change to find out the reason for this exception?

[2021-04-13 09:28] biaoma-ty commented on #31
Code snippet:
[code]
Here is the full stack exception:
[code]

[2021-04-14 07:37] biaoma-ty opened #76 "Exception while setting up cluster"
duplicate of [#31](https://github.com/sakserv/hadoop-mini-clusters/issues/31)

This exception still exists in my environment.

[2022-08-20 12:53] AnkushNakaskar opened #77 "Unable to Upgrade the Java to Java 11"
Getting issue like below :
Unable to upgrade to hadoop and Java.

tools.jar was removed in JDK 9

If we tried to upgrade the hbase server, we are getting below error.

[code]

[2022-11-13 23:02] christopinka opened #79 "Error running oozie integration test"
Running https://github.com/sakserv/hadoop-mini-clusters/blob/master/hadoop-mini-clusters-oozie/src/test/java/com/github/sakserv/minicluster/impl/OozieLocalServerIntegrationTest.java

getting

java.lang.NoSuchMethodError: org.apache.hadoop.security.authentication.util.KerberosUtil.hasKerberosTicket(Ljavax/security/auth/Subject;)Z

My pom dependencies ends up looking like

[code]

[2022-11-13 23:33] christopinka commented on #79
Adding below fixes this issue
[code]

[2022-11-13 23:34] christopinka commented on #79
But still difficulties in setting up a test that passes. More missing from pom like

[code]

[2022-11-13 23:48] christopinka commented on #79
and...

java.lang.NoSuchMethodError: org.apache.hadoop.metrics2.lib.DefaultMetricsSystem.setMiniClusterMode(Z)V

I'll try again tomorrow. I'll clone the project and see how that goes. Thanks!

[2022-11-13 23:50] christopinka commented on #79
Was hoping to just be able to bring the dependency like in the readme example and maybe junit.

[code]

[2022-11-14 03:02] christopinka commented on #79
Doesn't seem to resolve anymore against hortonworks...